      form > div {
        border: 1px solid grey;
        margin-top: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
      }
      small.error {
        display: block;
        font-size: 0.66667rem;
        font-style: italic;
        font-weight: normal;
        margin-bottom: 0.88889rem;
        margin-top: -16px;
        padding: 0.33333rem 0.5rem 0.5rem;
        background: #f04124;
        color: #FFFFFF;
      }
      .red {
        border: 1px solid red;
      }
      input.ng-invalid {
        border-color: red;
      }
      input.ng-valid {
        border-color: green;
      }